body {
  background-color: #101010;
  color: white;
}

.img {
  background-image: url("./assets/jxB9GUOHTf2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -70px;
  height: 25rem;
  width: 100%;
}
